.search {
    display: flex;
    justify-content: center;
    padding: 30px;
    background-color: papayawhip;
}

.characters {

    display: grid;
    grid-template-columns: 2fr 1fr;
    background-color: black;

    &--all {
        background-color: pink;
    }

    &--favourites {
        background-color: salmon;
    }

    &__title {
        padding-top: 20px;
        text-align: center;
    }

    &__list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
        list-style: none;
        align-items: center;
        justify-content: space-around;
        padding: 30px 15px;
    }

    &__card {
        background-color: violet;
        width: 160px;
        height: 200px;
        padding: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
        color: purple;

        &__img {
            max-width: 120px;
            max-height: 120px;
            margin-bottom: 10px;
        }
    }
}

.favourite {
    background-color: purple;
    color: violet;
}

.hidden {
    display: none;
}